.dot-blur {
    background-image: radial-gradient(rgba(0,0,0,0) 1px, #161616 1px);
    background-size: 10px 10px;
    backdrop-filter: blur(15px);
}

.bg{
   animation: spin 50s linear infinite; 
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}